// colors variable
$base-background-color:#fbfbfd;

// font variable
$lato-regular: 'Lato-Regular';
$lato-light: 'Lato-Light';
$lato-medium: 'Lato-Medium';
$lato-semibold: 'Lato-Semibold';
$lato-bold: 'Lato-Bold';
$satisfy-regular:'Satisfy-Regular';